*{
    margin: 0px;
    padding: 0;
   }
  body{
    background-color:#233552;
  } 
   h1 {
    background-color:#CCCCCC;
    text-align: left;
    padding: 26px ;
    font-family:Algerian;
    font-size: 45px;
    color: #ffffff;
    text-decoration: none;
    }

   .index{
     z-index: 6;
   }

  .in  li {
    float: left;
    display: inline;
    position: relative;
  }

    .in ul {
      display: none;
      position: relative;
      top: 24;
      left:0;
      margin:0;
      padding:0;
      background:#FFFFFF;
      z-index: 6;
      }
      
     .in ul li {
      display: block !important ;
      z-index: 2;
      }
      
    .in li:hover ul{
      display: none;
      }
      
     .in li:hover ul{
      display: block;
      }

      .in {
        width:500px;
        margin:0 auto;
        position: absolute
        }
        
        .in li {
        margin:0 1px;
        width:98px;
        min-height:28px;
        text-align:center;
        background:#5188E0;
        list-style:none;
        padding:2px 0;
        }
        
        .in li:hover {
        background:#1366EB;
        }
        
        .in li a {
        font-family:bold 80% monospace;
        color:#FFF;
        text-decoration:none;
        }
        
      .in li ul li{
        float:none;
        width:98px;
        margin:1px 0;
        }
        .inicio {
          z-index: 1;
        }
   
    .peliculas{
     width: 90%;
     max-width: 1220px; 
     margin: auto;
     z-index: 1;
    }
    
    .peli{
      width: 1100px;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
    .pelu{
      width: 830px;
      left: 135px;
      top: 10px;
      bottom:10px;
      margin: 0 auto;
      display: flex;
      position: relative;
      justify-content: space-between;
    }
    .imagenes{
      width: 300px;
      height: 350px; 
      position: relative;
      margin-bottom: 10px; 
      overflow: hidden;
     
}
    .imagenes img{
     width: 250px;
     height: 300px; 
    }
    .porimagenes{
     transform: all 0.5s;
   }
    .imagenes:hover .porimagenes{
      transform:scale(1.5);
    }
    .text {
      position: absolute;
      color:#000099;
      background-color: rgba(204, 204, 204, 0.7);
      padding: 30px 10px 10px 15px;
      font-size: 16px;
      font-family:bold 90% monospace;
      transform: translateY(80px);
      
    }
     .text h2{
      font-family:bold 90% monospace;
       font-size: 22px;
       margin-bottom: 20px;
       color:#000000;
       text-align: center;
     }
     .text p{
       text-align: center;
       width: 225px;
       bottom: 0;
       right: 0;
       left: 0;
       margin: 0 auto;
       height: 220px;

     }

     .imagenes:hover .text{
       transform: translateY(-310px);
     }
    .desc{ 
      position: absolute;
      background-color:#CCCCCC;
      text-align: left;
      font-family:Algerian;
      font-size: 14px;
      color: #5188E0;
      text-decoration: none;
    }
 /* ****** */
 h1 {
  background-color:#CCCCCC;
  text-align: left;
  padding: 22px ;
  font-family:Algerian;
  font-size: 46px;
  color: #ffffff;
  text-decoration: none;
  }
  .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    background-color:#6495ED;
}
 
  .texto{
    position: absolute;
    top: 10px;
    left: 10px;
    
}
  .centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color:white;
    font-family:Algerian;
}
  img{
    width: 1450px;
    height: 160px;
    opacity: 1; 
}
  img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.4;
}
  .des{
    position: relative;
    width: 1450px;
    height: 40px;
    background:#5188E0 ;
    color: #ffffff;
    font-family:bold 90% monospace;
    font-size: 18px;
    text-align:left;
    transform: translateY(-08%);
    display: table;
  }


  video{
    position: relative;
    top: 3px;
    left: 0px;
    width: 718px;
    }
    video:nth-child(3){
      margin-left: 5px;
    }
   p{
    position: relative;
    top: 0;
    color: white;
   }
  .ext{
    position: relative;
    width: 1450px;
    height: 40px;
    background:#5188E0;
    color: #ffffff;
    font-family:bold 20% monospace;
    font-size: 18px;
    text-align:left;
    transform: translateY(-88%);
    display: table;
  }
  p:nth-child(3){
    position: relative;
    top: 0;
    color: white;
  }
  
  
 