*{
    margin: 0px;
    padding: 0;
   }
   
   h1 {
   background-color:#CCCCCC;
   text-align: left;
   padding: 22px ;
   font-family:Algerian;
   font-size: 45px;
   color: #000099;
   border-radius:10px;
   text-decoration: none;
   }
   
   .section{
    position: absolute;
        width: 1422px;
        height: 930px;
        background:pink;
   }
    .header {
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
    }
    
    ul, ol {
    list-style:none;
    }
    
    .nav > li {
    float:left;
    }
    
    .nav li a {
    background-color:#000099;
    color:#fff;
    text-decoration:none;
    padding:14px 30px;
    display:block;
   border-radius: 10px;

    }
    
    .nav li a:hover {
    background-color:	#CCCCCC;
    }
    
    .nav li ul {
    display:none;
    position:absolute;
    min-width:130px;
    }
    
    .nav li:hover > ul {
    display:block;
    }
    
    .nav li ul li {
    position:relative;
    }
    
    .nav li ul li ul {
    right:-130px;
    top:0px;
    }
    
   

    
    header ul li{
        position: relative;
        margin-left: 80px;
        margin-bottom: 20px;
        margin-top: 40px;
        width:200px;
        height: 250px;
        overflow: hidden;
        display: inline-block;
    }

    header ul li img{
        width:200px;
        height: 250px;
        transform: scale(1.0) ;
        transition-delay: 0.5s;
        transition-property: transform;
        transition-duration: 2s;
        border-radius: 0px;
     
         
    }
    header ul li img:hover{
        transform: scale(1.2) ;
        border-radius: 70px;
 
        
     
    }